<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Заголовок" %>
    <%= f.text_field :title,:class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label "Основной текст" %>
    <%= f.text_area :content,:rows => "10",:class => "input-xxlarge" %>
  </div>
  <div class="actions">
    <%= f.submit "Применить",:class=>"btn btn-inverse " %>
  </div>
<% end %>
