<h3>Настройки сайта</h3><br />

<%= form_for(@setting) do |f| %>

  <div class="field">
    <%= f.label "Название сайта" %>
    <%= f.text_field :name,:class => "input-xxlarge" %>
  </div>

  <div class="field">
    <%= f.label "Email (Почта куда будут приходить письма)" %>
    <%= f.email_field :email,:class => "input-xxlarge", :required=>"required" %>
  </div>
  <div class="actions">
    <%= f.submit "Применить",:class=>"btn btn-inverse " %>
  </div>
<% end %>

