
<!DOCTYPE html>
<html>
 <head>
   <title><%=Setting.first.name%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  </script>
  </head>
 <body> 
  <div id = "main">
    <div class = logo>
    		<a href = "#index">  <img src="/images/logo.png"> </a>
          </div>     
    <div id="work_space">  
	   <div id="left_side">
          <div id = "order">
          </div>
          <div class="pod_left_menu">
		    <ul>
		      <%= render "/assets/podmenulinks"%> 
		     </ul>
          </div>	  
          <div class = "left_menu_box"> 
		    <ul class ="left_menu" >
			<%= render "/assets/leftlinks"%>
		    </ul>
		  </div>	     
		 <div class= "left_line"></div>
	   </div>  
	  <div id="content">
	    
	     
	    
	    <div class = "text_block" id="content_1">
	      <h4 style = "text-align:center; color:white;">aa</h4>
	      <p class = "content_text"> </p>
	      
	       <div id = menu_with_forms>
	       
	       
	         <table class = "order">
	       
	           <tr>
	             <td class = "order_text">
	               <%= link_to  "Fill in the application form “Schematic Design”", form_four_index_path %>
	             </td>
	             <td>
	               <%= image_tag "/write_leter.png", :width => "50"%>
	             </td>
	           </tr>
	           
	           <tr>
	             <td class = "order_text">
	               <%= link_to  "Fill in the application form “Design Project”", form_four_index_path %>
	             </td>
	             <td>
	               <%= image_tag "/write_leter.png", :width => "50"%>
	             </td>
	           </tr>
	           
	           
	           <tr>
	             <td class = "order_text">
	               <%= link_to  "Fill in the application form “Design Project + Building Services”", form_one_index_path %>
	             </td>
	             <td>
	               <%= image_tag "/write_leter.png", :width => "50"%>
	             </td>
	           </tr>
	           
	           <tr>
	             <td class = "order_text">
	               <%= link_to  "Fill in the application form “Architectural Design“", form_three_index_path %>
	             </td>
	             <td>
	               <%= image_tag "/write_leter.png", :width => "50"%>
	             </td>
	           </tr>
	           
	           <tr>
	             <td class = "order_text">
	               <%= link_to  "Fill in the application form “Architectural and Engineering Design“", form_two_index_path %>
	             </td>
	             <td>
	               <%= image_tag "/write_leter.png", :width => "50"%>
	             </td>
	           </tr>
	           
	           
	            <tr>
	             <td class = "order_text">
	               <%= link_to  "Fill in the application form “Industrial Design”", "#orders" %>
	             </td>
	             <td>
	               <%= image_tag "/write_leter.png", :width => "50"%>
	             </td>
	           </tr>
	           
	       
	       </table>
	       
	       
	       </div>
	      
	    </div>
	  </div>
	  <div id="right_side">
	    <ul>
		<%= render "assets/rightlinks"%>
		  
		</ul>		
	  
	   <div class= "right_line"></div>
	  </div>
    <div> 	
 
 </div> 
 <%= yield %>


 
 </body>
</html>
